.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__nav {
    padding-top: calc(var(--index) * 2);
    position: fixed;
    width: 100%;
    height: calc(var(--index) * 5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 15;
    align-items: center;
    background: rgba(20, 28, 36, 1);

    @media screen and (max-width: 900px) {
        flex-direction: column;
        justify-content: space-between
    }
}

.header__nav-button {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    pointer-events: all;
    width: 30px;
    height: 20px;
    z-index: 25;

    @media screen and (max-width: 1100px) {
            display: block;
        }

}

.header__nav-button-burger {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    pointer-events: all;
    align-items: center;
    justify-content: flex-end;
    // width: 30px;
    // height: 20px;
    z-index: 25;
    cursor: pointer;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    // margin: 30px auto;

}


.header__nav-button-burger::before,
.header__nav-button-burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(250, 246, 242);
}

.header__nav-button-burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.header__nav-button-burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.header__nav-button-burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.header__nav-button-burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    column-gap: calc(var(--index) * 2);
    align-items: center;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.header__navbar-list a {
    position: relative;
    color: #FFF;
    font-size: calc(var(--index) * .8);
    font-weight: 300;

    &:hover {
        text-decoration: underline rgba(0, 197, 255, 1);
    }

}

.header__title {
    position: absolute;
    top: 30%;
    z-index: 8;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 116px;
    align-items: center;
}

.header__title button {
    color: #000;
    font-family: "Aire Exterior";
    font-size: calc(var(--index) * .9);
    font-weight: 400;
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 2);

}


.header__title button {
    color: #000;
    font-family: "Aire Exterior";
    font-size: calc(var(--index) * 1.2);
    font-weight: 400;
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 2);
    background: #FFF;
}

.header__wrapper {
    top: calc(var(--index) * 4.5);
    width: calc(var(--index) * 55);
    height: calc(var(--index) * 30);
    border-radius: 15px;
    border: 0.5px solid #57D6FF;
    box-shadow: 5px 5px 5px rgba(82, 125, 139, 1);

    @media screen and (max-width: 900px) {
        top: 0;
        width: 100vw;
        height: 100vh;
    }
}

.header__slide {
    position: relative;
    z-index: 5;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(96.01% 49.95% at 50.05% 49.91%, rgba(82, 125, 139, 0.00) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
        z-index: 6;
    }

    @media screen and (max-width: 900px) {
        width: 100vw;
        height: 100vh;
    }
}