.tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.tools__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 70px;
    width: calc(var(--index) * 20);


}

.tools__title-link {
    width: calc(var(--index) * 15);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 400px) {
        width: 100%;
    }
}

.tools__title-link span {
    position: absolute;
    width: calc(var(--index) * 3);
    height: 1px;
    left: 0px;
    background-color: rgba(80, 175, 205, 1);
}

.tools__picture {
    position: relative;
    width: calc(var(--index) * 35);
    height: calc(var(--index) * 30);

    @media screen and (max-width: 900px) {
        width: calc(var(--index) * 30);
        height: calc(var(--index) * 28);
    }
}

.tools__picture-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.tools__picture-img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 5;
}

.tools__link {
    width: calc(var(--index) * 8);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;

    @media screen and (max-width: 400px) {
        width: 100%;
    }

}

.tools__link span {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: rgba(80, 175, 205, 1);
}